{% extends 'base.html' %}
{% block title %} Blogs {% endblock title %}
{% block body %}

<div class="container">
  <u style="color: black;"><h2 class="text-center" style="color: black;"><span style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Capture tasks at the speed of thought</span></h2></u>
  <h3 class="text-center">We’ve spent over a decade refining Todoist to be an extension of your mind. Capture and organize tasks instantly using easy-flowing, natural language.</h3><br>
  
  <u style="color: black;"><h2 class="text-center" style="color: black;"><span style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Stay organized and focused</span></h2></u>
  <h3 class="text-center">Achieve mental clarity by sorting tasks into Today, Upcoming, or using custom filters. See only what you need, when you need it.</h3><br>
  
  <u style="color: black;"><h2 class="text-center" style="color: black;"><span style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Simplify your planning</span></h2></u>
  <h3 class="text-center">Make the most of your time. Schedule due dates, visualize your week in calendar view, and set recurring tasks with ease.</h3><br>
  
  <u style="color: black;"><h2 class="text-center" style="color: black;"><span style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">A home for your team’s tasks</span></h2></u>
  <h3 class="text-center">Give your team a shared space to collaborate and stay on top of it all – alongside but separate from your personal tasks and projects.</h3>
</div>


{% endblock body %}