<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO-Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('Home')}}">TO DO APP</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('Docs')}}">Docs</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Blogs')}}">Blogs</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <div class="container">
      <u style="color: black;"><h1 class="text-center" style="color: black;"><span style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Documentation</span></h1></u>
      <h2 class="text-center"><span style="color: red;">To Do Lists</span> are the lists that we generally use to maintain our day-to-day tasks or list of everything that we have to do, with the most important tasks at the top of the list, and the least important tasks at the bottom. In this article, we are going to learn how to JavaScript Project on Todo List.</h2><br>
      <u><h1 class="text-center" style="color: red;">Approach</h1></u>
      <h2 class="text-center">
        <ul>
         Use HTML to give structure to your project. <br>
        Use CSS for Styling purposes <br>
        JavaScript will be used to provide the required functionality
        </ul>
        <pre><h2 class="text-center">
          Sets up event listeners for form submission and item clicks.
          Handles adding and editing items in the list.
          Displays success messages for add and edit operations.
          Handles item deletion with a confirmation dialog.
          Enables button based on provided reference and button ID.
          Interactive list for adding, editing, and deleting items.
        </h2>
        </pre>
      </h2>
    </div>

      
  </body>
</html>