{% extends 'base.html' %}
{% block title %} Docs {% endblock title %}
{% block body %}
<div class="container">
  <u style="color: black;">
    <h1 class="text-center" style="color: black;"><span
        style="color: red; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Documentation</span>
    </h1>
  </u>
  <h2 class="text-center"><span style="color: red;">To Do Lists</span> are the lists that we generally use to maintain
    our day-to-day tasks or list of everything that we have to do, with the most important tasks at the top of the list,
    and the least important tasks at the bottom. In this article, we are going to learn how to JavaScript Project on
    Todo List.</h2><br>
  <u>
    <h1 class="text-center" style="color: red;">Approach</h1>
  </u>
  <h2 class="text-center">
    <ul>
      Use HTML to give structure to your project. <br>
      Use CSS for Styling purposes <br>
      JavaScript will be used to provide the required functionality
    </ul>
    <pre><h2 class="text-center">
          Sets up event listeners for form submission and item clicks.
          Handles adding and editing items in the list.
          Displays success messages for add and edit operations.
          Handles item deletion with a confirmation dialog.
          Enables button based on provided reference and button ID.
          Interactive list for adding, editing, and deleting items.
        </h2>
        </pre>
  </h2>
</div>
{% endblock body %}