
{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
Home - Todo{% block body %}
  
      <div class="container my-3">
        <u><h2 class="text-center">+++ ADD A TO DO +++</h2></u>
        <form action="/" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Todo Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Todo Description</label>
              <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
   
        
      {% endblock body %}