
{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
Home - Todo{% block body %}
  
      <div class="container my-3">
        <u><h2 class="text-center">+++ Update your Todo +++</h2></u>
        <form action="/Update/{{todo.sno}}" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Todo Title</label>
              <input type="text" class="form-control" value="{{todo.title}}" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Todo Description</label>
              <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
      </div>
   
        
      {% endblock body %}